{
    "env": {
      "es6": true,
      "browser": true
    },

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "impliedStrict": true,
          "globalReturn": false
        }
    },

    "globals": {},

    "rules": {

      "quotes": ["error", "single", { "allowTemplateLiterals": true }],

      "no-dupe-keys": ["error"],
      
      "no-duplicate-case": ["error"],

      "no-extra-boolean-cast": ["error"],

      "no-irregular-whitespace": ["error"],

      "consistent-return": ["error"],

      "dot-notation": ["error"],

      "eqeqeq": ["error"],

      "no-else-return": ["error"],

      "no-extra-bind": ["error"],

      "no-implied-eval": ["error"],

      "no-loop-func": ["error"],

      "no-multi-spaces": ["error"],

      "no-redeclare": ["error"],

      "no-return-assign": ["error"],

      "no-self-assign": ["error"],

      "no-self-compare": ["error"],

      "no-throw-literal": ["error"],

      "no-undef": ["error"],

      "no-undef-init": ["error"],

      "no-unused-vars": ["error"],

      "no-use-before-define": ["error", {
        "functions": false,
        "classes": false
      }],

      "array-bracket-spacing": ["error"],

      "block-spacing": ["error"],

      "brace-style": ["error", "1tbs", { "allowSingleLine": true }],

      "camelcase": ["error"],

      "comma-dangle": ["error"],

      "comma-spacing": ["error"],

      "computed-property-spacing": ["error"],

      "eol-last": ["error"],

      "indent": ["error", 2, {
        "SwitchCase": 1
      }],

      "key-spacing": ["error"],

      "lines-between-class-members": ["error"],

      "max-len": ["error", { 
        "code": 80, "ignoreComments": true, "tabWidth": 2
      }],

      "max-lines-per-function": ["error", { "max": 50 }],

      "max-params": ["error", 6],

      "new-cap": ["error"],

      "new-parens": ["error"],

      "no-inline-comments": ["error"],

      "no-mixed-spaces-and-tabs": ["error"],

      "no-multi-assign": ["error"],

      "no-multiple-empty-lines": ["error"],

      "no-tabs": ["error"],

      "no-trailing-spaces": ["error"],

      "object-curly-newline": ["error"],

      "object-curly-spacing": ["error", "always"],

      "space-infix-ops": ["error"],

      "spaced-comment": ["error"],

      "arrow-spacing": ["error"],

      "no-class-assign": ["error"],

      "no-dupe-class-members": ["error"],

      "no-duplicate-imports": ["error"],

      "no-this-before-super": ["error"],

      "no-useless-computed-key": ["error"],

      "no-useless-constructor": ["error"],

      "no-var": ["error"],

      "prefer-arrow-callback": ["error"],

      "prefer-const": ["error"],

      "prefer-template": ["error"],

      "sort-imports": ["error"]

    }
  }