{
    "env": {
      "es6": true,
      "browser": true
    },

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "impliedStrict": true,
          "globalReturn": false
        }
    },

    "globals": {},

    "rules": {

      "quotes": ["error", "single", { "allowTemplateLiterals": true }],

      "no-dupe-keys": ["error"],
      
      "no-duplicate-case": ["error"],

      "no-extra-boolean-cast": ["error"],

      "no-irregular-whitespace": ["error"],

      "consistent-return": ["error"]
      

    }
  }